body {
  font-family: 'Inter', sans-serif;
  font-size: 16;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: black;
  padding: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 30;
}

.logo a {
  margin-right: auto; 
  text-decoration: none;
  color: white; 
}
.nav-links {
  display: flex;
  justify-content: flex-end; 
}

.nav-links li {
  margin-left: 20; 
}

.nav-links a {
  text-decoration: none;
  color: white;
}

#map {
  width: 300; 
  height: 300;
}